/*-- scss:defaults --*/

// fonts

$font-main: "Fira Sans", Helvetica, Arial, "Sans Serif";
$font-family-sans-serif: $font-main;
$font-family-serif: $font-main;
$font-variant-numeric: lining-nums tabular-nums;

$navbar-brand-font-size: 1.8rem;
$nav-link-font-size: 1.3rem;


// custom colors

$eth-blue: #215CAF;
$eth-blue-dark: #08407E;
$eth-blue-20: #D3DEEF;
$eth-blue-80: #4D7DBF;
$eth-petrol: #007894;
$eth-petrol-dark: #00596D;
$eth-petrol-20: #CCE4EA;
$eth-petrol-80: #3395AB;
$eth-green: #627313;
$eth-green-dark: #365213;
$eth-green-20: #E0E3D0;
$eth-green-80: #818F42;
$eth-bronze: #8E6713;
$eth-bronze-dark: #956013;
$eth-bronze-20: #E8E1D0;
$eth-bronze-80: #A58542;
$eth-red: #B7352D;
$eth-red-dark: #96272D;
$eth-red-20: #F1D7D5;
$eth-red-80: #C55D57;
$eth-purple: #A7117A;
$eth-purple-dark: #8C0A59;
$eth-purple-20: #EFD0E3;
$eth-purple-80: #B73B92;
$eth-grey: #6F6F6F;
$eth-grey-dark: #575757;
$eth-grey-10: #F1F1F1;
$eth-grey-20: #E2E2E2;
$eth-grey-80: #8C8C8C;


/*-- scss:mixins--*/

@mixin animation-underline {
    background: linear-gradient(currentColor 0 0)
        bottom center/
        var(--underline-width, 0%) 0.17rem
        no-repeat;
    transition: background-size 0.25s;
}

/*-- scss:rules --*/

// fonts

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: normal;
    // src: url('fonts/FiraSans-Light.woff2') format('woff2');
    src: url('fonts/FiraSans-Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    font-style: italic;
    font-weight: normal;
    // src: url('fonts/FiraSans-LightItalic.woff2') format('woff2');
    src: url('fonts/FiraSans-Italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: bold;
    src: url('fonts/FiraSans-Medium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    font-style: italic;
    font-weight: bold;
    src: url('fonts/FiraSans-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: "Litera";
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Literata-Medium.woff2') format('woff2');
}


// global styling

:root body {
    font-size: 18px;
    hyphens: auto;

    a {
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h1 {
        font-weight: bold;
    }

    .content {
        text-align: justify;
    }
}


// navbar

.navbar {
    .navbar-brand:hover,
    .nav-link:hover {
        text-decoration: none;
    }

    .nav-link {
        font-weight: bold;
        padding: 0.5em 0 0.2em;
    }
}

// animate navbar items if screen is wide enough
@media screen and (min-width: 992px) {
    .navbar {
        .navbar-brand,
        .nav-link {
            @include animation-underline;
        }

        .navbar-brand:hover,
        .nav-link:hover {
            --underline-width: 100%;
        }
    }
}


// footer

.footer .nav-footer a {
    text-decoration: underline;
}


// about page

.about-entity {
    .quarto-title h1 {
        font-size: 3rem;
        font-weight: bold;
        font-family: "Litera", "Charter", "Serif";
    }

    .about-links {
        font-size: 1.2rem;
        font-weight: bold;
        column-gap: 0.5em;
    }
}


// blog

.quarto-listing .quarto-post {
    .listing-title {
        font-size: 2rem;

        a:hover {
            text-decoration: underline;
        }
    }

    a, a:hover {
        text-decoration: none;
    }
}
