/*-- scss:defaults --*/

// fonts

$font-main: Raleway;
$font-family-sans-serif: $font-main;
$font-family-serif: $font-main;
$font-variant-numeric: lining-nums tabular-nums;

$navbar-brand-font-size: 1.8rem;
$nav-link-font-size: 1.3rem;


// custom colors

$eth-blue: #215CAF;
$eth-blue-dark: #08407E;
$eth-blue-20: #D3DEEF;
$eth-blue-80: #4D7DBF;
$eth-petrol: #007894;
$eth-petrol-dark: #00596D;
$eth-petrol-20: #CCE4EA;
$eth-petrol-80: #3395AB;
$eth-green: #627313;
$eth-green-dark: #365213;
$eth-green-20: #E0E3D0;
$eth-green-80: #818F42;
$eth-bronze: #8E6713;
$eth-bronze-dark: #956013;
$eth-bronze-20: #E8E1D0;
$eth-bronze-80: #A58542;
$eth-red: #B7352D;
$eth-red-dark: #96272D;
$eth-red-20: #F1D7D5;
$eth-red-80: #C55D57;
$eth-purple: #A7117A;
$eth-purple-dark: #8C0A59;
$eth-purple-20: #EFD0E3;
$eth-purple-80: #B73B92;
$eth-grey: #6F6F6F;
$eth-grey-dark: #575757;
$eth-grey-10: #F1F1F1;
$eth-grey-20: #E2E2E2;
$eth-grey-80: #8C8C8C;


/*-- scss:rules --*/

// fonts

/* raleway-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v29-latin-regular.woff2') format('woff2');
}

/* raleway-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/raleway-v29-latin-italic.woff2') format('woff2');
}

/* raleway-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/raleway-v29-latin-500.woff2') format('woff2');
}

/* raleway-500italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    src: url('fonts/raleway-v29-latin-500italic.woff2') format('woff2');
}

/* raleway-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/raleway-v29-latin-600.woff2') format('woff2');
}

/* raleway-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/raleway-v29-latin-700.woff2') format('woff2');
}

// global styling

:root body {
    a {
        font-weight: 500;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h1 {
        font-weight: 700;
    }

    .content {
        text-align: justify;
    }
}

// navbar

.navbar {
    .navbar-brand:hover {
        text-decoration: none;
    }

    .nav-link {
        // text-transform: lowercase;
        font-weight: 400;
    }

    .nav-link.active {
        text-decoration: underline;
    }
}

// footer

.footer .nav-footer a {
    text-decoration: underline;
}

// about page

div.quarto-about-solana .about-entity .entity-contents {
    h1 {
        font-size: 3rem;
        font-weight: 600;
    }

    .about-links {
        font-size: 1.2rem;
        font-weight: 600;
        column-gap: 0.5em;
    }
}
